* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This ensures padding and borders are included in the width/height */
}

html,
body {
  margin: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  font-family: "Helvetica Neue", Arial, sans-serif;
  /* color: black; */
}

footer {
  margin-top: 34px;
  margin-bottom: 53px;
  color: #635b75;
}



#map {
  width: 100%;
  height: 500px;
}


fieldset {
  border: none;
}

h2 {
  font-size: 23px;
  padding-top: 15px;
}

.hidden {
  display: none;
  border: 1px solid white !important;
}

h1 {
  font-size: 34px;
  padding-top: 20px;
}

.masterframe {
  margin-left: 23px;
  margin-right: 23px;
  /* width: 100%; */
}
.bodyframe {
  margin-left: 34px;
  margin-right: 34px;
  /* width: 100%; */
}

.masterbar-menu {
  /* background-color: #333; */
  display: flex;
  justify-content: space-between; /* Spreads out the items */
}

.landingcontent {
  margin-left: 34px;
  margin-right: 34px;
  padding-bottom: 40px;
  display: flex; /* Enables flexbox layout */
  align-items: center; /* Vertically centers the children (text and image) */
  justify-content: space-between;
}

.landingtext {
  max-width: 33vw;
}
.landingcontent img {
  filter: brightness(0) invert(1); /* Apply filter to make the image white */
  cursor: pointer; /* Ensure the cursor indicates a clickable item */
  width: 23px; /* Set a specific width for the image */
  height: auto; /* Maintain aspect ratio */
}

#navbar {
  /* background-color: #333; */
  display: flex;
  justify-content: space-between; /* Spreads out the items */
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  overflow: hidden;
  width: 100%;
  padding-top: 0px;
}

.sticky {
  position: fixed;
  top: 0;
  /* width: 90vw; */
  z-index: 1000;
  right: 0px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0px;
}

.sticky + .contentcarrier {
  padding-top: 10px;
}

.additionalspacer {
  margin-top: 45px;
}

.masterbar-button {
  background-color: #f2f2f2;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s;
  border: 0.5px solid black;
  margin: 10px; /* 23px divided by 2 for even spacing between buttons */
  width: 33%;
  cursor: pointer;
}

#navbar .activeblack {
  background-color: black;
  color: white;
  border: 0.5px solid white;
}

.activeblack {
  background-color: black;
  color: white;
  border: 0.5px solid white;
}

.rounded {
  border-radius: 17px;
}
.masterbar-button:first-child {
  margin-left: 0; /* Removes margin from the first button */
}
.masterbar-button:last-child {
  margin-right: 0; /* Removes margin from the last button */
}
.masterbar-button:hover {
  background-color: #0000ff;
}

.s1 {
  font-size: 14px;
  padding-bottom: 20px;
}

.whitetext {
  color: white !important;
}

.white-line {
  height: 2px; /* Thickness of the line */
  background-color: white; /* Color of the line */
  width: 100%; /* Line takes up 100% of the width of its container */
  left: -30px;
}

.landingsection {
  background: linear-gradient(to bottom, black 0%, transparent 80%);
  background-color: black; /* Solid background color */
}

.fading-div {
  width: 100%; /* Adjust width as needed */
  height: 20px;
  color: #f2f2f2; /* Text color */
  padding: 13px;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
  margin: 0px;
}

.centretext {
  text-align: center;
}
.centreimage {
  justify-content: center;
  display: flex;
}

.search-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.inputcolor {
  background-color: #d9d9d9; /* Light grey background */
}

/* Styles the search input field */
.search-input {
  width: 100%; /* Makes the input take up 100% of its container's width */
  padding: 3px 15px; /* Adds padding inside the search bar */
  font-size: 18px; /* Sets the font size */
  border: 0px solid #ccc; /* Adds a light grey border */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.filtermenu-container {
  display: flex;
  width: 80%; /* Makes the container take 80% of its parent width */
  /* background-color: #333; */
  gap: 20px;
}

.dropdown {
  flex-grow: 1;
  position: relative;
  display: inline-block;
  width: 19vw;
}

.dropdown:last-child {
  margin-right: 0; /* Remove margin from the last dropdown */
}

.dropbtn {
  /* background-color: #4CAF50; */
  color: black;
  padding: 2.3px;
  font-size: 18px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left; /* Aligns text to the left */
  display: flex;
  align-items: center; /* Vertically center the content */
  /* justify-content: space-between;  */
}

.icon {
  margin-right: 1px; /* Adds space between the icon and the text */
  margin-left: 10px;
  max-height: 13px;
}

.filtertitle {
  margin-left: 10px;
  pointer-events: none;
}

.arrow {
  pointer-events: none;
  font-size: 12px; /* Smaller font size for the arrow */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dynamicbody {
  /* border-style: dotted; */
  display: flex; /* Use flexbox to layout child elements */
  width: 100%;
  margin-top: 20px;
  position: relative;
}

/* here is for 2/3 & 1/3 split */
.leftbody {
  width: calc(66.67% - 10px); /* 2/3 width minus half the gap */
  background-color: #f2f2f2; /* Light grey background for visibility */
}

.leftbodyforum {
  width: calc(66.67% - 10px); /* 2/3 width minus half the gap */
  background-color: #f2f2f2; /* Light grey background for visibility */
}

.gap20 {
  gap: 20px;
}

.authortext {
  margin-top: 7px;
  font-size: 14px;
  font-style: italic;
}

.descriptiontext {
  margin-top: 7px;
  font-size: 14px;
}

.addedbytext {
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 10px;
}

.resourcetitle {
  color: #581c8c;
}

.upcomingEvent {
  position: relative;
  display: flex; /* Enables flexbox layout */
  width: 100%; /* Ensures the container takes full width of its parent */
}


#upcoming-events3{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three columns of equal width */
  /* gap: 10px; Sets the space between grid items */
}

.grid-item3 {
  background-color: #f0f0f0; /* Light grey background for visibility */
  border: 1px solid #ccc; /* Adds a border to each grid item */
  padding: 0px; /* Padding inside each grid item for content */
 }


.upcomingEventItem3{
    /* background-color: #f0f0f0; Light grey background for visibility */
    border: 1px solid #ccc; /* Adds a border to each grid item */
    /* padding: 20px; Padding inside each grid item for content */
    text-align: center;
}

.f12 {
  font-size: 12px;
  color: white;
  background-color: #2a2536;
}

.f14 {
  font-size: 14px;
}

.upcomingeventimage,
.upcomingeventtext,
.upcomingeventdate {
  display: flex; /* Enables flexbox layout for vertical alignment if needed */
  align-items: flex-start; /* Aligns items to the top by default */
}

.upcomingeventimage {
  width: 20%;
}

.upcomingeventimage3 {
  width: 100%;
}

@media (max-width: 600px) {
  .contentgrid3 {
      grid-template-columns: repeat(1, 1fr); /* Stacks the items in one column on smaller screens */
  }
}

.top-event-info {
  display: flex;           /* Enable flexbox to align children horizontally */
  justify-content: space-between; /* Space between to push children to each end */
  align-items: center;     /* Align items vertically in the center */
  width: 100%;             /* Optional: set the width of the parent div */
 padding-left: 12px;
 padding-right: 12px;
}

.event-tag {
  /* Styles for the left div */
  margin-right: 10px;      /* Pushes all extra space to the right */
}

.event-date {
  /* Styles for the right div */
  margin-left: 10px;       /* Pushes all extra space to the left */
}


.upcomingeventdate {
  width: 15%;
  background-color: #5c5c5c;
  color: white;
}

.upcomingeventtext {
  padding-left: 12px;
  padding-right: 5px;
 width: 69%;
  align-items: flex-start; /* Ensures text content aligns to the top */
}

.upcomingeventdate {
  right: 0;
  bottom: 0;
  position: absolute;
  align-items: flex-end; /* Aligns the date content to the bottom of the div */
  justify-content: flex-end;
  /* height: 100px;  Ensures content aligns to the bottom if there are multiple lines or elements */
}

.eventtitle {
  text-decoration: none;
  font-size: 23px;
  color: black;
}

.resourceimagesection {
  width: 100%; /* Ensures the div takes up 100% of its parent's width */
  position: relative;
  display: flex;
  align-items: flex-end;
}

.resourceimage {
  margin-top: 7px;
  display: block;
  width: 50%;
  height: auto;
  max-width: 150px;
  font-size: 4px;
  background-color: #d9d9d9;
}

.keyword-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end; /* Aligns buttons to the bottom */
  justify-content: flex-end; /* Aligns buttons to the right */
  margin-left: auto; /* Ensures buttons are on the right side */
  gap: 5px; /* Space between buttons */
}

.keyword-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
}

.category-row,
.audience-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
  flex-wrap: wrap;
  padding-left: 10px;
}

.keyword-btn {
  padding: 2px 4px;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  font-size: 10px;
}

.category-btn {
  border: 0.5px solid #0000ff;
  background-color: white;
  color: #0000ff;
}

.upcomingeventtextcontainer{
  /* width: 50%; */
}

.audience-btn {
  border: 0.5px solid #ff8000;
  background-color: white;
  color: #ff8000;
}
.bold {
  font-weight: bold;
  font-size: 18px;
}

.purebold{
  font-weight: bold;
}

.resourcescontainer {
  padding: 12px;
}

.rightbody {
  width: calc(33.33% - 10px); /* 1/3 width minus half the gap */
  background-color: #f2f2f2; /* Slightly darker for contrast */
}

.rightbodyforum {
  width: calc(33.33% - 10px); /* 1/3 width minus half the gap */
  background-color: #f2f2f2; /* Slightly darker for contrast */
}

.islandtextcontent {
  margin: 10px;
}

/* here is for 1/3, 1/3 & 1/3 split */
.leftbody13 {
  width: calc(33.33% - 10px); /* 2/3 width minus half the gap */
  background-color: #f2f2f2; /* Light grey background for visibility */
}

.middlebody13 {
  width: calc(33.33% - 10px); /* 2/3 width minus half the gap */
  background-color: #f2f2f2; /* Light grey background for visibility */
}

.rightbody13 {
  width: calc(33.33% - 10px); /* 2/3 width minus half the gap */
  background-color: #f2f2f2; /* Light grey background for visibility */
}

/* Adding margin to create the gap */
.leftbody {
  margin-right: 20px; /* 20px space between the two divs */
}

.contentisland {
  border: 0.5px solid black; /* Thin black border */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Drop shadow */
  background-color: white;
}

.contentislandtitle {
  padding-top: 3px;
  font-size: 18px;
}



.grid-item{
  border: 1px solid #0000ff;
}

.tag-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(120px, 1fr)
  ); /* Adjust minmax for size */
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.topic-tag-button {
  color: #0000ff;
  border: 1px solid #0000ff;
}

.practice-tag-button {
  color: #ff8000;
  border: 1px solid #ff8000;
}

.topic-tag-button,
.practice-tag-button {
  background-color: #f6f6f6;
  /* color: #333; */

  padding: 2px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.formInputSection {
  width: 100%;
}

.topic-tag-button.active {
  background-color: #0000ff; /* Change as needed */
  color: white; /* Change as needed */
}

.practice-tag-button.active {
  background-color: #ff8000; /* Change as needed */
  color: white; /* Change as needed */
}

.responsive-image {
  width: 100%; /* Make image width equal to container width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any extra space below the image */
}

.formtitle {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.subheader {
  font-size: 23px;
  font-weight: bold;
}

.formSection {
  display: flex;
  align-items: start;
  /* Align items to the top */
  gap: 20px;
  /* Add some space between the number and the fieldset */
}

.label-container {
  display: flex;
  justify-content: space-between; /* Adjust the spacing between each label */
  align-items: center; /* Align items vertically in the center */
}

.step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  /* Adjust size as needed */
  height: 30px;
  /* Adjust size as needed */
  border: 1px solid #0000ff;
  border-radius: 50%;
  /* Creates the circle */
  font-size: 18px;
  /* Adjust size as needed */
  font-weight: bold;
  color: #0000ff;
  /* Dark text color */
}

.image-radio {
  display: inline-block;
  /* Align labels side by side */
  text-align: center;
  /* Center content within the label */
  margin-right: 10px;
  /* Spacing between labels */
  height: 100%;
}

.image-radio img {
  width: 100%;
  max-width: 7vw;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  /* Ensures the image does not have inline whitespace below it */
  margin: 0 auto;
  /* Centers the image in the label */
}

.w40,
.w80 {
  background-color: #d9d9d9;
  border-radius: 7px 7px 7px 7px;
  border: 0px solid #ff8000;
  padding: 4px;
  margin-top: 10px;
}

.w40 {
  width: 40%;
}

.w80 {
  width: 80%;
}

.image-radio {
  background-color: #d9d9d9;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image-radio input[type="radio"]:checked + img {
  border: 4px solid #ff8000;
  padding: 10px;
  /* Red border for demonstration */
}

.eventimage {
  width: 100%;
}

.image-radio span {
  display: block;
  /* Ensures the text appears on a new line under the image */
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
  padding-top: 8px;

  /* Space between image and text */
}

.button-container {
  display: flex; /* Enables flexbox layout */
  width: 100%; /* Container takes full width of its parent */
  margin-top: 3px;
}
.button-container button {
  flex-grow: 1; /* Makes each button grow and fill the container */
}
.button-container button:last-child {
  margin-right: 0; /* Removes margin from the last button to avoid overflow */
}

.custom-form-container {
  width: 100%; /* or any width you prefer */
  margin: 0 auto; /* centers the div horizontally */
  /* padding: 20px; */
  box-sizing: border-box;
}

.full-width-input,
.full-width-submit {
  width: 100%; /* ensures the input and button fill the container */
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box; /* includes padding and border in the element's width */
}

.formsubmitbutton {
  margin-top: 45px;
  background-color: #33ff00;
}

.full-width-input {
  border: 0px solid #ccc;
}

.full-width-submit {
  background-color: #3d3d3d;
  color: white;
  border: none;

  cursor: pointer;
}

.full-width-submit:hover {
  background-color: #0000ff;
}

.roundedbottom {
  border-radius: 0 0 17px 17px;
}

.contentgrid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns of equal width */
    gap: 10px; /* Sets the space between grid items */
    padding: 10px; /* Optional: Adds some padding around the grid */
}

.responsive-image3 {
  width: calc(
    33.21%
  ); /* Slightly less than one-third, accounting for the gap */
  height: auto; /* Maintains aspect ratio */
  border: 0.5px solid black;
}

.topheader {
  display: flex;
  justify-content: space-between; /* Positions the text and switch on opposite sides */
  align-items: flex-start; /* Aligns items to the top of the container */
  color: white; /* Text color for readability */
}
/* Styling for the switch and its container */
.switchcontainer {
  display: flex; /* Enables flexbox for the switch container */
  align-items: top; /* Vertically centers the text and the switch */
  gap: 10px; /* Adds space between the text and the switch */
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 21px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 21px;
  width: 48px;
  border: 1px solid #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 2.3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.responsive-video {
  width: 50%; /* Assigns 45% of the container width to video */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px;
  max-width: 300px; /* Rounded corners for the video */
}

.contributebar {
  width: 100%;
  height: 80px; /* Adjusted for better visibility and fit */
  position: fixed;
  top: 85%;
  /* background-color: #f8f8f8; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contribute-buttons-container {
  /* justify-items: end; */
  position: fixed;
  /* gap:16vw; */
  top: 85%;
  width: 300px;
  /* display: flex; */
  /* margin-right: 57px; */
  /* justify-content: space-between; */
  /* width: 85.66%; Covers the remaining 2/3 of the navbar */
}

.contribute-button {
  text-decoration: none;
  width: 10%;
  font-size: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ffffff;
  background-color: #0000ff;
  transition: background-color 0.3s ease, bottom 0.5s ease; /* Add transition for bottom property */
  border: 0.5px solid #ffffff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: -50px; /* Start off-screen */
  text-align: center;
  z-index: 100;
}

.contribute-button:hover {
  background-color: #0000ff;
  color: white;
}

/* Dyslexia-friendly styles */
.dyslexia-mode {
  color: #2a2536; /* Black text */
  background-color: #dbe1f1 !important; /* Light yellow background */
  font-family: "Arial", sans-serif; /* Dyslexia-friendly font */
}

.dyslexia-mode a,
.dyslexia-mode p,
.dyslexia-mode h1,
.dyslexia-mode h2,
.dyslexia-mode h3 {
  line-height: 1.6; /* Increased line height for readability */
}

.dyslexia-mode .resourcescontainer {
  border-radius: 17px;
  background-color: #e0e0e0; /* Light grey, change as needed for dyslexia friendliness */
}

.dyslexia-mode .landingsection {
  /* border-radius: 17px; */
  background-color: #707070; /* Light grey, change as needed for dyslexia friendliness */
}

.full-width-line {
  width: 100%; /* Ensures the line takes up 100% of the container's width */
  height: 2px; /* Sets the thickness of the line */
  background-color: #ccc; /* Sets the color of the line */
}
