* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This ensures padding and borders are included in the width/height */
}

html,
body {
  margin: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  font-family: "Helvetica Neue", Arial, sans-serif;
  /* color: black; */
}

footer {
  margin-top: 34px;
  margin-bottom: 53px;

}

h2 {
  font-size: 23px;
  padding-top: 15px;
}

h1 {
  font-size: 34px;
  padding-top: 20px;
}

.masterframe {
  margin-left: 23px;
  margin-right: 23px;
  /* width: 100%; */
}
.bodyframe {
  margin-left: 34px;
  margin-right: 34px;
  /* width: 100%; */
}

.masterbar-menu {
  /* background-color: #333; */
  display: flex;
  justify-content: space-between; /* Spreads out the items */
}

.landingcontent {
margin-left: 13.7vw;
margin-right: 13.7vw;
padding-bottom: 40px;
display: flex;              /* Enables flexbox layout */
    align-items: center;        /* Vertically centers the children (text and image) */
    justify-content: space-between; 
}

.landingtext{
  max-width: 33vw;
}
.landingcontent img {
  filter: brightness(0) invert(1); /* Apply filter to make the image white */
  cursor: pointer; /* Ensure the cursor indicates a clickable item */
  width: 23px; /* Set a specific width for the image */
  height: auto; /* Maintain aspect ratio */
}


#navbar {
  /* background-color: #333; */
  display: flex;
  justify-content: space-between; /* Spreads out the items */
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  overflow: hidden;
  width: 100%;
  padding-top: 0px;
}


.sticky {
  position: fixed;
  top: 0;
  /* width: 90vw; */
  z-index: 1000;
  right: 0px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0px;
}

.sticky + .contentcarrier {
  padding-top: 10px;
}

.additionalspacer{
  margin-top: 45px;
}

.masterbar-button {
  background-color: #f2f2f2;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s;
  border: 0.5px solid black;
  margin: 10px; /* 23px divided by 2 for even spacing between buttons */
  width: 33%;
  height: fit-content;
  /* Rounded corners */
}

#navbar .activeblack {
  background-color: black;
  color: white;
  border: 0.5px solid white;
}

.activeblack {
  background-color: black;
  color: white;
  border: 0.5px solid white;
}

.rounded {
  border-radius: 17px;
}
.masterbar-button:first-child {
  margin-left: 0; /* Removes margin from the first button */
}
.masterbar-button:last-child {
  margin-right: 0; /* Removes margin from the last button */
}
.masterbar-button:hover {
  background-color: #0000ff;
}

.s1 {
  font-size: 14px;
  padding-bottom: 20px;
}

.whitetext {
  color: white !important;
}

.white-line {
  height: 2px; /* Thickness of the line */
  background-color: white; /* Color of the line */
  width: 100%; /* Line takes up 100% of the width of its container */
  left: -30px;
}

.landingsection {
  background: linear-gradient(to bottom, black 0%, transparent 80%);
  background-color: black; /* Solid background color */
}

.fading-div {
  width: 100%; /* Adjust width as needed */
  height: 20px;
  color: #f2f2f2; /* Text color */
  padding: 13px;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
  margin: 0px;
}

.centretext {
  text-align: center;
}
.centreimage{
  justify-content: center; 
  display: flex;
}

.search-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.inputcolor {
  background-color: #d9d9d9; /* Light grey background */
}

/* Styles the search input field */
.search-input {
  width: 100%; /* Makes the input take up 100% of its container's width */
  padding: 3px 15px; /* Adds padding inside the search bar */
  font-size: 18px; /* Sets the font size */
  border: 0px solid #ccc; /* Adds a light grey border */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.filtermenu-container {
  display: flex;
  width: 80%; /* Makes the container take 80% of its parent width */
  /* background-color: #333; */
  gap:20px;
}

.dropdown {
  flex-grow: 1;
  position: relative;
  display: inline-block;
  width: 19vw;
}

.dropdown:last-child {
  margin-right: 0; /* Remove margin from the last dropdown */
}

.dropbtn {
  /* background-color: #4CAF50; */
  color: black;
  padding: 2.3px;
  font-size: 18px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left; /* Aligns text to the left */
  display: flex;
  align-items: center; /* Vertically center the content */
  /* justify-content: space-between;  */
}

.icon {
  margin-right: 1px; /* Adds space between the icon and the text */
  margin-left: 10px;
  max-height: 13px;
}

.filtertitle {
  margin-left: 10px;
}

.arrow {
  font-size: 12px; /* Smaller font size for the arrow */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dynamicbody {
  /* border-style: dotted; */
  display: flex; /* Use flexbox to layout child elements */
  width: 100%;
  margin-top: 20px;
}

/* here is for 2/3 & 1/3 split */
.leftbody {
  width: calc(66.67% - 10px); /* 2/3 width minus half the gap */
  background-color: #f2f2f2; /* Light grey background for visibility */
}

.gap20{
  gap: 20px;
}

.rightbody {
  width: calc(33.33% - 10px); /* 1/3 width minus half the gap */
  background-color: #f2f2f2; /* Slightly darker for contrast */
}

/* here is for 1/3, 1/3 & 1/3 split */
.leftbody13 {
  width: calc(33.33%  - 10px); /* 2/3 width minus half the gap */
  background-color: #f2f2f2; /* Light grey background for visibility */
}

.middlebody13 {
  width: calc(33.33%  - 10px); /* 2/3 width minus half the gap */
  background-color: #f2f2f2; /* Light grey background for visibility */
}

.rightbody13 {
  width: calc(33.33%  - 10px); /* 2/3 width minus half the gap */
  background-color: #f2f2f2; /* Light grey background for visibility */
}

/* Adding margin to create the gap */
.leftbody {
  margin-right: 20px; /* 20px space between the two divs */
}

.contentisland {
  border: 0.5px solid black; /* Thin black border */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Drop shadow */
  background-color: white;
}

.contentislandtitle {
  padding-top: 3px;
  font-size: 18px;
}

.responsive-image {
  width: 100%; /* Make image width equal to container width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any extra space below the image */
}



.button-container {
  display: flex; /* Enables flexbox layout */
  width: 100%; /* Container takes full width of its parent */
  margin-top: 3px;
}
.button-container button {
  flex-grow: 1; /* Makes each button grow and fill the container */
}
.button-container button:last-child {
  margin-right: 0; /* Removes margin from the last button to avoid overflow */
}

.custom-form-container {
  width: 100%; /* or any width you prefer */
  margin: 0 auto; /* centers the div horizontally */
  /* padding: 20px; */
  box-sizing: border-box;
}

.full-width-input,
.full-width-submit {
  width: 100%; /* ensures the input and button fill the container */
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box; /* includes padding and border in the element's width */
}

.full-width-input {
  border: 0px solid #ccc;
}

.full-width-submit {
  background-color: #3d3d3d;
  color: white;
  border: none;

  cursor: pointer;
}

.full-width-submit:hover {
  background-color: #0000ff;
}

.roundedbottom {
  border-radius: 0 0 17px 17px;
}

.contentgrid3 {
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
  justify-content: flex-start; /* Aligns content to the start, you can use 'center' if preferred */
}
.responsive-image3 {
  width: calc(
    33.21%
  ); /* Slightly less than one-third, accounting for the gap */
  height: auto; /* Maintains aspect ratio */
  border: 0.5px solid black;
}

.topheader {
  display: flex;
  justify-content: space-between; /* Positions the text and switch on opposite sides */
  align-items: flex-start;        /* Aligns items to the top of the container */
  color: white;                   /* Text color for readability */
}
/* Styling for the switch and its container */
.switchcontainer {
  display: flex;                  /* Enables flexbox for the switch container */
  align-items: top;            /* Vertically centers the text and the switch */
  gap: 10px;                      /* Adds space between the text and the switch */
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 21px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
  height: 21px;
  width: 48px;
  border: 1px solid #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 2.3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.responsive-video {
  width: 50%;                 /* Assigns 45% of the container width to video */
  height: auto;               /* Maintain aspect ratio */
  border-radius: 8px;  
  max-width: 300px;       /* Rounded corners for the video */
}


.contributebar {
  width: 100%;
  height: 60px; /* Adjusted for better visibility and fit */
  position: fixed;
  top: 85%;
  /* background-color: #f8f8f8; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
 
}

.contribute-buttons-container {
  justify-items: end;
 gap:16vw;
  /* display: flex; */
  /* margin-right: 57px; */
  /* justify-content: space-between; */
  /* width: 85.66%; Covers the remaining 2/3 of the navbar */
}

.contribute-button {
  /* margin-left: 23%; */
  padding: 5px 20px;
  text-decoration: none;
  font-size: 14px;
  color: #0000ff;
  background-color: #52FF00;
  /* border-radius: 5px; */
  transition: background-color 0.3s ease;
  border: 0.5px solid #0000FF;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Drop shadow */
  

  /* position: fixed; */
}

.contribute-button:hover {
  background-color: #0000ff;
  color: white;
  
}
